<% if item.errors.any? %>

  <div class="error_msg">
    <p><%= pluralize(item.errors.count, "error") %></p>
    <ul>
      <% item.errors.messages.each do |msg| %>
        <% msg.last.each do |detail| %>
          <li><%= msg.first.capitalize %>: <%= detail.capitalize %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
