<div class="yield_content">

  <%= render partial: 'shared/errors', locals: { item: @post } %>

  <%= render partial: 'shared/post_form', locals: { button_name: "Update Post" } %>

  <div class="form_link">
    <%= link_to "back", post_path%>
  </div>

</div>
