/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

$white: #eaeaea;
$dark: #222222;
$highlight: #2e9a50;
$error: #dda5a5;


header {
    height: 10vh;
    line-height: 10vh;
    border-bottom: 1px darken($white, 0%) solid;

    a {
        color: $highlight;
        text-decoration: none;
    }

    a.logo {
        padding-left: 20rem;
        font-size: 1.36rem;
        display: inline;
    }

    nav {
        box-sizing: border-box !important;
        height: 10vh;
        line-height: 10vh;
        float: right;
        padding-right: 18rem;

        ul {
            list-style: none;
            margin: 0;
            li {
                display: inline-block;
                padding-right: 2rem;

                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }

            }
        }
    }
}

.yield_content {
    margin: 0 auto;
    width: 60%;
    margin-top: 3rem;
}


.each_post {
    height: 6rem;

    &:hover {
        background-color: lighten($white, 6%);
        color: lighten($dark, 23%);
        a {
            color: lighten($dark, 23%);
        }
    }

    .like_size {
        display: inline-block;
        box-sizing: border-box !important;
        vertical-align: top;
        width: 23%;
        // text-align: center;
        padding-left: 3%;
        line-height: 6rem;
    }

    .post_detail {
        display: inline-block;
        vertical-align: top;
        width: 52%;
        // text-align: center;

        .post_title {
            display: block;
            box-sizing: border-box !important;
            height: 3rem;
            padding-top: 1rem;
            line-height: 2rem;
        }

        .post_description {
            display: block;
            box-sizing: border-box !important;
            height: 3rem;
            padding-bottom: 1rem;
            line-height: 2rem;
        }
    }

    .post_action {
        display: inline-block;
        vertical-align: top;
        width: 23%;
        text-align: right;
        line-height: 6rem;
        box-sizing: border-box !important;
        padding-right: 2rem;

        span {
            margin-left: .5rem;
            color: $highlight;
        }
    }
}

a.logo {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: $highlight;
}

.button {
    display: inline-block;
    text-decoration: none;
    width: 6rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    text-align: center;
}

.button-highlight {
    background-color: $highlight;
    color: $white;

    &:hover {
        background-color: darken($highlight, 5%);
    }
}

.button-highlight-o {
    border: 1px $highlight solid;
    color: $highlight;
    background-color: lighten($white, 100%);

    &:hover {
        border: 1px darken($highlight, 9%) solid;
        color: darken($highlight, 9%);
    }
}

.button-white {
    background-color: $white;
    color: $highlight;

    &:hover {
        background-color: darken($white, 5%);
    }
}

.some_links {
    text-align: center;
    a {
        text-decoration: none;
        color: $highlight;
        text-align: center;

        &:hover {
            text-decoration: underline;
        }
    }
}

.some_buttons {
    padding-top: 2rem;
    text-align: center;
    a.button {
        color: $highlight;
        padding-top: .9rem;
        padding-bottom: .9rem;
        border-radius: .5rem;
        &:hover {
            text-decoration: none;
        }
    }
}

.error_msg {
    margin: 0 auto;
    width: 50%;

    box-sizing: border-box !important;
    border: 1px $error solid;
    padding: 1rem 2rem;
    color: darken($error, 10%);

    p {
        margin-top: 0;
    }

    li {
        padding-bottom: .5rem;
    }
}
