/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

$white: #eaeaea;
$dark: #222222;
$highlight: #2e9a50;
$error: #dda5a5;

.notice_wrapper, .alert_wrapper {
    position: absolute;
    display: block;
    text-align: center;
    z-index: 999;
    width: 100%;
    height: 10vh;
    line-height: 10vh;
    color: white;
}

.notice_wrapper {
    // background-color: rgba(100, 200, 100, 0.8);
    background-color: lighten($highlight, 20%);
}

.alert_wrapper {
    // background-color: rgba(200, 100, 100, 0.8);
    background-color: lighten($error, 10%);
}



header {
    height: 10vh;
    line-height: 10vh;
    border-bottom: 1px darken($white, 0%) solid;

    a {
        color: $highlight;
        text-decoration: none;
    }

    a.logo {
        padding-left: 20rem;
        font-size: 1.36rem;
        display: inline;
    }

    nav {
        box-sizing: border-box !important;
        height: 10vh;
        line-height: 10vh;
        float: right;
        padding-right: 18rem;

        ul {
            list-style: none;
            margin: 0;
            li {
                display: inline-block;
                padding-right: 2rem;

                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }

            }
        }
    }
}

.yield_content {
    margin: 0 auto;
    width: 60%;
    margin-top: 3rem;

    min-height: 75vh;
}

footer {
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    color: lighten($dark, 50%);
    p {
        margin: 0;
    }
}


.each_post {
    height: 6rem;

    a {
        text-decoration: none;
        color: lighten($dark, 39%);
    }

    &:hover {
        background-color: lighten($white, 6%);
        color: lighten($dark, 23%);
        a {
            color: lighten($dark, 23%);
        }
    }

    .like_size {
        display: inline-block;
        box-sizing: border-box !important;
        vertical-align: top;
        width: 15%;
        // text-align: center;
        padding-left: 3%;
        line-height: 6rem;
    }

    .post_detail {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        // text-align: center;

        .post_title {
            display: block;
            box-sizing: border-box !important;
            height: 3rem;
            padding-top: 1rem;
            line-height: 2rem;
        }

        .post_description {
            display: block;
            box-sizing: border-box !important;
            height: 3rem;
            padding-bottom: 1rem;
            line-height: 2rem;
        }
    }

    .post_author {
        display: inline-block;
        vertical-align: top;
        width: 10%;
        text-align: center;
        line-height: 6rem;

        a {
            color: $highlight;
            text-decoration: none;
        }
    }

    .post_action {
        display: inline-block;
        vertical-align: top;
        width: 23%;
        text-align: right;
        line-height: 6rem;
        box-sizing: border-box !important;
        padding-right: 2rem;

        span {
            margin-left: .5rem;
            color: $highlight;
        }

        .comment_size {
            margin: 0;
            font-size: .8rem;
        }
    }
}

.form {
    .field {
        padding-bottom: 1rem;
        text-align: left;
        margin: 0 auto;
        width: 60%;

        label, em, i {
            font-size: .8rem;
            display: inline-block;
            color: darken($white, 20%);
            padding-bottom: .5rem;
        }
    }

    input[type="text"], input[type="email"], input[type="password"], textarea {
        box-sizing: border-box !important;
        width: 100%;
        padding: .36rem;
        outline: none;
        border: 1px darken($white, 10%) solid;
        border-radius: .3rem;

        &:focus {
            border: 1px lighten($highlight, 36%) solid;
            // box-shadow: 0 0 1rem lighten($highlight, 40%);
        }

    }

    input[type="checkbox"] {
    }

    // .button {
    //     width: 60%;
    //     padding: .5rem;
    //     border-radius: .3rem;
    //     font-size: .8rem;
    //     margin: 0;
    //     margin-top: 1rem;
    // }
}

::-webkit-input-placeholder {
    font-size: .8rem;
}

:-moz-placeholder { /* Firefox 18- */
    font-size: .8rem;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-size: .8rem;
}

:-ms-input-placeholder {
    font-size: .8rem;
}

a.logo {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: $highlight;
}

.button {
    display: inline-block;
    text-decoration: none;
    width: 6rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    text-align: center;
}

.button-highlight {
    background-color: $highlight;
    color: $white;

    &:hover {
        background-color: darken($highlight, 5%);
    }
}

.button-highlight-o {
    border: 1px $highlight solid;
    color: $highlight;
    background-color: lighten($white, 100%);

    &:hover {
        border: 1px darken($highlight, 9%) solid;
        color: darken($highlight, 9%);
    }
}

.button-white {
    background-color: $white;
    color: $highlight;

    &:hover {
        background-color: darken($white, 5%);
    }
}

.button-disable {
    border: 1px darken($white, 20%) solid;
    background-color: lighten($white, 60%);
    color: darken($white, 20%);
}

.some_links {
    text-align: center;
    a {
        text-decoration: none;
        color: $highlight;
        text-align: center;

        &:hover {
            text-decoration: underline;
        }
    }
}

.some_buttons {
    padding-top: 2rem;
    text-align: center;
    button, a.button {
        color: $highlight;
        padding-top: .9rem;
        padding-bottom: .9rem;
        border-radius: .5rem;
        &:hover {
            text-decoration: none;
        }
    }
}

.error_msg {
    margin: 0 auto;
    width: 50%;

    box-sizing: border-box !important;
    border: 1px $error solid;
    padding: 1rem 2rem;
    color: darken($error, 10%);

    p {
        margin-top: 0;
    }

    li {
        padding-bottom: .5rem;
    }

    // for devise error messages
}

.devise_error_msg {
    margin: 0 auto;
    width: 60%;
    color: $error;
    #error_explanation {
        text-align: left;
        h2 {
            font-size: .8rem;
        }
        ul {
            li {
                font-size: .8rem;
            }
        }
    }
}
