// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import './application.scss';

.bar {
    height: 3rem;
    line-height: 3rem;
    a {
        display: inline-block;
        text-decoration: none;
        color: lighten($dark, 39%);
        padding-left: 1rem;

        &:hover {
            text-decoration: underline;
        }
    }

    .selected {
        color: $highlight;
    }
}

.posts_content {
    color: lighten($dark, 39%);

    a {
        text-decoration: none;
        color: lighten($dark, 39%);
    }

}

.post_form_page {
    padding-top: 3rem;
    margin: 0 auto;
    width: 50%;
    form {
        .form_row {
            padding-bottom: 1rem;

            label {
                color: lighten($dark, 50%);
            }

            a {
                display: inline-block;
                padding-left: 1rem;
                text-decoration: none;
                text-decoration: none;
                color: $highlight;

                &:hover {
                    color: darken($highlight, 5%);
                }
            }

            input[type="text"], input[type="password"], textarea {
                box-sizing: border-box !important;
                display: inline-block;
                width: 100%;
                padding: .5rem;
                outline: none;
                border: 1px darken($white, 10%) solid;

                &:focus {
                    border: 1px lighten($highlight, 36%) solid;
                    // box-shadow: 0 0 1rem lighten($highlight, 40%);
                }
            }

            .action {
                margin: 0 auto;
                width: 30%;
                .button {
                    width: 100%;
                    margin: 0;
                    margin-top: 2rem;
                    padding-top: .9rem;
                    padding-bottom: .9rem;
                    border-radius: .5rem;
                }
            }
        }

    }
}

.post_show {
    margin: 0 auto;
    width: 60%;
    color: darken($white, 50%);
    height: 6rem;
    margin-bottom: .6rem;
    a {
        color: darken($white, 55%);
        text-decoration: none;
        vertical-align: top;
    }

    .like_size {
        display: inline-block;
        width: 9%;
        height: 2rem;
        line-height: 2rem;
    }

    .post_detail {
        display: inline-block;
        vertical-align: top;
        width: 90%;

        .post_title {
            display: block;
            vertical-align: top;
            font-size: 1.5rem;
            height: 1.5rem;
            a:hover {
                color: $highlight;
            }
        }

        .post_author {
            margin-top: .8rem;
            margin-bottom: .5rem;
            font-size: .8rem;
            text-align: left;
            vertical-align: top;
            display: inline-block;
            width: 78%;

            a {
                font-weight: 600;
            }

            &hover {
                text-decoration: underline;
            }
        }

        .post_action {
            margin-top: .8rem;
            margin-bottom: .5rem;
            display: inline-block;
            vertical-align: top;
            width: 20%;
            text-align: right;
            a {
                color: $highlight;
            }
        }


        .post_description {
            display: inline-block;
            width: 90%;
            color: darken($white, 50%);
        }


    }
}
